@tailwind base;
@tailwind components;
@tailwind utilities;

div[data-overlay-container="true"] {
  display: contents;
}

html {
  color: #000;
  background: #f9f9f9;
}

html.dark {
  color: #fff;
  background: #000;
}
